header {
  padding-top: 120px;
  height: 520px;
  display: flex;
  align-items: center;
  flex-flow: column;
  background-color: rgb(216 153 57);
  background-image: linear-gradient(to bottom right, rgba(216, 152, 57, 0.461), rgba(129, 57, 216, 0.436)), url("../images/backgrounds/food.png");
}

header img {
  display: flex;
  align-self: center;
}

header h2 {
  margin-top: 0;
  font-weight: 300;
  color: white;
}

header strong {
  font-weight: 600;
}