.new-tweet {
  margin: 50px 10px;
  margin-top: 0px;;
}

.new-tweet div {
  display: flex;
  padding-right: 10px;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

.new-tweet textarea {
  min-width: 100%;
  border: none;
  resize: none;
  outline: none;
  background-color: transparent;
  color: rgb(84, 81, 73);
  border-bottom: 5px solid rgb(84 81 73);
  max-height: 40px;
  font-weight:600;
  margin: 10px 0px;
}

.new-tweet button {
  background-color: #4056A1;
  border: 0;
  line-height: 1.5;
  padding-left: 14px;
  padding-right: 14px;
  color: white;
}
.new-tweet button:hover {
  box-shadow: 5px 5px 4px rgba(65, 86, 160, 0.5);
  /* position:relative; */
  bottom: 1px;
  right: 1px;
}

#error-box {
  border: 3px solid rgb(107, 27, 21);
  color: rgb(107, 27, 21);
  margin: auto;
  width:fit-content;
  font-size: 20px;
  font-family: "Bungee", sans-serif;
  text-align: center;
  padding: 10px;
}
